{{- $atype := "note" -}}
{{- $emoji := "📝" -}}
{{- with .Get 0 -}}
  {{- $atype = . -}}
{{- end -}}
{{- if eq $atype "warning" -}}
  {{- $emoji = "⚠️" -}}
{{- end -}}
<aside class="{{ $atype }}">
  <div class="label">{{ $emoji }}</div>
  <div class="content">{{ .Inner | markdownify }}</div>
</aside>
