{{- $diagRes := .Page.Resources.GetMatch (.Get 0) -}}
{{- $diagFile :=  (path.Join (path.Dir .Page.File.Path) $diagRes) -}}
<figure>
  {{- readFile $diagFile | safeHTML -}}
  {{- with .Inner -}}<figcaption>{{ . | markdownify }}</figcaption>{{- end -}}
</figure>
