<header>
  <h1><a href="/">{{- partial "logo.html" . -}}</a>
  {{- $title := .Site.Title -}}
    {{- with .Title -}}
      {{ . }}
    {{- else -}}
      {{ $title -}}
    {{- end -}}</h1>
</header>