<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{- $title := .Site.Title -}}
    {{- with .Title -}}
      {{ . }} | {{ $title }}
    {{- else -}}
      {{ $title -}}
    {{- end -}}</title>
  <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
</head>