<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 80.0 80.0" class="logo">
  <g>
      <!-- bee top -->
      <path class="" d="M40,45.65A8.71,8.71,0,0,0,31.45,53H48.63A8.71,8.71,0,0,0,40,45.65"/>
      <!-- bee middle -->
      <path class="" d="M33.38,62H46.69c0.67-1.83,1.23-3.53,1.6-4.94H31.79c0.36,1.41.92,3.11,1.6,4.94"/>
      <!-- bee bottom -->
      <path class="" d="M40,77.63c0.93-2,3.14-6.82,5.1-11.64H34.94c2,4.83,4.16,9.64,5.1,11.64"/>
      <!-- left top wing -->
      <path class="" d="M16.38,11.7A8.63,8.63,0,0,0,11.93,13a7.69,7.69,0,0,0-3.37,9.18A18.24,18.24,0,0,0,13,29.34a18.47,18.47,0,0,0,25.1.91L22,14.1a7.73,7.73,0,0,0-5.57-2.41"/>
      <!-- right top wing -->
      <path class="" d="M67.07,29.34a18.24,18.24,0,0,0,4.45-7.18A7.68,7.68,0,0,0,68.15,13a7.92,7.92,0,0,0-10,1.12L42,30.25a18.47,18.47,0,0,0,25.1-.91"/>
      <!-- left antenna -->
      <path class="" d="M31.33,5.77a3.77,3.77,0,0,0-2,.07,3.37,3.37,0,0,0-2.41,3.54A8,8,0,0,0,28,12.9,8.08,8.08,0,0,0,38.57,16l-5.13-8.59a3.37,3.37,0,0,0-2.11-1.62"/>
      <!-- right antenna -->
      <path class="" d="M48.75,5.77a3.77,3.77,0,0,1,2,.07,3.37,3.37,0,0,1,2.41,3.54,8,8,0,0,1-1.12,3.52A8.08,8.08,0,0,1,41.51,16l5.13-8.59a3.38,3.38,0,0,1,2.11-1.62"/>
      <!-- right bottom wing -->
      <path class="" d="M63.08,40.33a39.34,39.34,0,0,0-18.89-1.7c-0.14,0-.3,0-0.45.05a32.48,32.48,0,0,0,6.88,5.61,44.49,44.49,0,0,0,9.69,4.5c6.75,2.21,13.8,2.8,19.36,1.65-3.81-4.21-9.84-7.91-16.59-10.12"/>
      <!-- left bottom wing -->
      <path class="" d="M35.52,38.59A39.63,39.63,0,0,0,17,40.33c-6.75,2.21-12.77,5.91-16.59,10.12C6,51.59,13,51,19.77,48.79a44.92,44.92,0,0,0,8.93-4,38.44,38.44,0,0,0,3.35-2.24A11.13,11.13,0,0,1,33.89,41a28.19,28.19,0,0,0,2.45-2.35c-0.26-.05-0.55-0.05-0.82-0.1"/>
  </g>
</svg>
