/* Styles go here! */
html, body {
  width: 100%;
  margin: 0;
  font-family: sans-serif;
}

header {
  background-color: black;
  color: white;
  padding: 1rem 0;
}

header h1, main {
  margin: 0 auto;
  max-width: 60rem;
  padding: 0 1rem;
}

header a, header a:visited, header a:active {
  color: white;
  text-decoration: none;
}

svg.logo {
  width: 1em;
  fill: black;
  stroke: black;
}

header svg.logo {
  fill: white;
  stroke: white;
  vertical-align: middle;
}

footer {
  font-size: 90%;
  color: #999;
  padding: 1em 0;
  text-align: center;
}

footer a, footer a:visited {
  color: #666;
}

dt {
  font-weight: bold;
}

aside {
  display: flex;
  font-size: 90%;
  border: 1px solid #666;
  border-radius: 0.5em;
  padding: 0.5em;
  background-color: #ffc;
}

aside.warning {
  background-color: #fcc;
}

aside div.label {
  font-size: 150%;
  margin-right: 0.5em;
}

figcaption {
  font-size: 90%;
  text-align: center;
}
